@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: stretch;
  overflow-wrap: break-word;
}
:root {
  --clr1: white;
  --clr2: #e2ecf1;
  --clr3: #000000;
  --clr4: rgba(0, 0, 0, 0.1);
  --clr5: #41b3a3;
  --clr6: white;
  --clr-light: rgba(0, 0, 0, 0.7);
  --clr-heading1: #61dafb;
  --clr-heading1-dark: #2085a1;
}

body {
  background-color: var(--clr1);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /* font-family: "Amatic SC", cursive; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin-top: 2.5vw;
  font-size: 2.5em;
  color: var(--clr-heading1);
}
h2 {
  margin: 2vw;
  font-size: 1.75em;
  color: var(--clr-light);
}

h3 {
  font-size: 1em;
  color: var(--clr-light);
}

h4 {
  font-weight: 600;
  font-size: 20px;
}

.btn {
  display: inline-block;
  background: var(--clr1);
  color: var(--clr-heading1);
  font-size: 2.5em;
  padding: 0.25rem 0.75rem 0.25rem 0.75rem;
  border-radius: 15px;
  border-color: var(--clr-heading1);
  text-transform: capitalize;
  margin: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  max-width: 100vw;
}

.btn2 {
  display: inline-block;
  background: var(--clr1);
  color: var(--clr-heading1);
  font-size: 20px;
  padding: 2.5px 7.5px 2.5px 7.5px;
  border-radius: 10px;
  border-color: var(--clr-heading1);
  text-transform: capitalize;
  margin: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  max-width: 100vw;
}

.btn:hover {
  border-color: var(--clr-heading1-dark);
  color: var(--clr-heading1-dark);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.btn2:hover {
  border-color: var(--clr-heading1-dark);
  color: var(--clr-heading1-dark);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.navbar-main {
  background-color: var(--clr1);
  color: var(--clr-light);
  height: 50px;
  font-weight: normal;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.navbar-main .nav-item {
  height: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  cursor: "context-menu";
}

.navbar-main .nav-item:hover {
  background-color: var(--clr4);
  cursor: context-menu;
}
.navbar-main .nav-item a:hover {
  cursor: context-menu;
}

.dropdown-main {
  background-color: var(--clr1);
}
.dropdown-main-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.dropdown-main-item:hover {
  background-color: var(--clr4);
  cursor: context-menu;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: "context-menu";
  padding: 0;
  margin: 0;
}

.section {
  margin: 0px 20px;
  text-align: center;
  color: var(--clr3);
  display: flex;
}

.section .writing {
  padding: 0px 10px;
  min-height: 50vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section .illustration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 20px;
}
.illustration img {
  padding: 0px;
  width: 30vw;
  height: 30vw;
  border-radius: 25px;
}

.footer {
  background-color: var(--clr-light);
  color: white;

  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer section {
  text-align: justify;
  text-justify: inter-word;
  padding: 20px;
}

.myform {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 600;
  font-size: 16px;
}

.myform input {
  border-radius: 10px;
  border: 1px solid rgb(229, 232, 235);
  background-color: transparent;
  flex: 1 0 0%;
  height: 48px;
  outline: none;
  padding: 12px;
  width: 100%;
}

.listChanger {
  display: flex;
  justify-content: right;
}

.listChanger button {
  margin: 0px 20px 0px 20px;
  border-radius: 25%;
  padding: 5px;
  font-weight: 600;
  font-size: 20px;
  background: var(--clr1);
  width: 30px;
}

.listChanger button:hover {
  border-color: var(--clr-heading1-dark);
  color: var(--clr-heading1-dark);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.cardholder {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(5, 1fr);
  align-items: stretch;
}

.card {
  padding: 20px;
  border: 1px solid var(--clr-heading1);
  border-radius: 25px;
  display: grid;
  font-weight: 600;
  font-size: 20px;
}

.card img {
  width: 100%;
  height: 20rem;
  border-radius: 15px;
}

.card .card-form {
  padding: 5px;
  display: grid;
  grid-template-columns: 2fr 1.5fr 1fr;
}

.card .card-form input {
  width: 100%;
}

.card:hover {
  border-color: var(--clr-heading1-dark);
  color: var(--clr-heading1-dark);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.card label {
  text-align: left;
}

.statusBar {
  margin: 25px;
  /* height: 5vh; */
  min-height: 5vh;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
}

.profile {
  padding: 2rem;
  background-color: rgba(0, 0, 50, 0.03);
  display: flex;
}

.profile img {
  width: 100%;
  max-height: 100%;
}

.nft {
  background: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nft .nft-trailor {
  display: flex;
}

.nft img {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  margin: 20px;
  width: 10rem;
  height: 10rem;
}

.timer {
  font-family: "digital-7", sans-serif;
  color: greenyellow;
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  margin: 0;
  padding: 1.5vw;
  background-color: black;
}

.nft-mint {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.nft-mint .nft-mint-2 {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  height: 100%;
  padding: 20px;
}

.nft-mint img {
  margin: 20px;
  padding: 2px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20px;
  width: 80%;
}

.nft-description {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.description-card-holder {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr 1fr 3fr;
}

.description-card {
  width: 100%;
  border: 1px solid var(--clr-heading1);
  border-radius: 25px;
  padding: 15px;
}

.description-card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  animation-name: descriptionEnter;
  animation-duration: 0.2s;
  font-size: 1rem;
}

@keyframes descriptionEnter {
  from {
    font-size: 0rem;
  }
  to {
    font-size: 1rem;
  }
}

.blog {
  min-height: 80vh;
}

.blog-heading {
  display: flex;
  justify-content: center;
}

.blog-data {
  padding: 0 10vw 0 10vw;
}

.blog-data h4 {
  text-align: justify;
  text-justify: inter-word;
}

.aboutMePage {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.aboutMePage .navbar {
  height: 5vh;
  width: 100vw;
  padding: 0px 5vw;
  background-color: rgba(155, 155, 155, 0.2);
  color: white;
  font-size: 2.5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}
.aboutMePage .segment {
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 5vh;
  text-align: justify;
  text-justify: inter-word;
  position: fixed;
  animation-name: slideUpEnter;
  animation-duration: 0.2s;
  animation-timing-function: linear;
}

.aboutMePage .dropdown {
  position: fixed;
  top: 5vh;
  width: 100vw;
  color: white;
  font-size: 2.5vh;
}
.aboutMePage .dropdown .nav-item {
  cursor: context-menu;
  height: 5vh;
  width: 100vw;
  margin: 0;
  padding: 1.25vw;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}
.aboutMePage .dropdown .nav-item:hover {
  cursor: context-menu;
  height: 5vh;
  width: 100vw;
  margin: 0;
  padding: 1.25vw;
  display: flex;
  align-items: center;
  background-color: rgba(155, 155, 155, 0.5);
}

@media screen and (max-width: 1200px) {
  .cardholder {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 1000px) {
  .cardholder {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 800px) {
  .cardholder {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 400px) {
  .cardholder {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .navbar-main .nav-item {
    display: none;
  }
  .section {
    display: flex;
    flex-direction: column;
  }
  .footer {
    display: flex;
    flex-direction: column;
  }
  .illustration img {
    width: 80vw;
    height: 80vw;
  }
  .nft-mint {
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  .profile {
    flex-direction: column;
  }
  .description-card-holder {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 769px) {
  .dropdown-main-item {
    display: none;
  }
}

@media screen and (min-aspect-ratio: 1/1) {
  .aboutMePage .navbar .nav-item {
    cursor: context-menu;
    height: 100%;
    padding: 0 15px;
    display: flex;
    align-items: center;
    background-color: transparent;
  }
  .aboutMePage .navbar .nav-item:hover {
    cursor: context-menu;
    background-color: black;
  }

  .aboutMePage .segment .heading1 {
    font-size: 5vh;
  }
  .aboutMePage .segment .heading2 {
    font-size: 2.5vh;
    font-weight: 200;
  }
  .aboutMePage .segment .heading3 {
    font-size: 1.25vh;
    font-weight: 200;
  }
}

@media screen and (max-aspect-ratio: 10/10) and (min-aspect-ratio: 6/10) {
  .aboutMePage .navbar .nav-item {
    cursor: context-menu;
    height: 5vh;
    margin: 0;
    padding: 0px;
    display: flex;
    align-items: center;
    background-color: transparent;
  }
  .aboutMePage .navbar .nav-item:hover {
    cursor: context-menu;
    height: 5vh;
    margin: 0;
    padding: 0px;
    display: flex;
    align-items: center;
    background-color: black;
  }

  .aboutMePage .segment .heading1 {
    font-size: 6vw;
    text-align: center;
  }
  .aboutMePage .segment .heading2 {
    font-size: 2.5vw;
    font-weight: 200;
  }
  .aboutMePage .segment .heading3 {
    font-size: 2vw;
    font-weight: 200;
  }
}
@media screen and (max-aspect-ratio: 6/10) {
  .aboutMePage .navbar .nav-item {
    cursor: context-menu;
    height: 5vh;
    margin: 0;
    padding: 0px;
    display: flex;
    align-items: center;
    background-color: transparent;
  }
  .aboutMePage .navbar .nav-item:hover {
    cursor: context-menu;
    height: 5vh;
    margin: 0;
    padding: 0px;
    display: flex;
    align-items: center;
    background-color: black;
  }

  .aboutMePage .segment .heading1 {
    font-size: 7.5vw;
    text-align: center;
  }
  .aboutMePage .segment .heading2 {
    font-size: 3.5vw;
    font-weight: 200;
  }
  .aboutMePage .segment .heading3 {
    font-size: 2vw;
    font-weight: 200;
  }
}

@keyframes slideUpEnter {
  from {
    top: 100vh;
  }
  to {
    top: 0;
  }
}
@keyframes slideUpExit {
  from {
    top: 0;
  }
  to {
    top: -100vh;
  }
}
@keyframes slideDownEnter {
  from {
    top: -100vh;
  }
  to {
    top: 0;
  }
}
@keyframes slideDownExit {
  from {
    top: 0;
  }
  to {
    top: 100vh;
  }
}

.slider {
  position: fixed;
  top: 35vh;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(155, 155, 155, 0);
  border-radius: 10px;
  padding: 5px;
}
.slider .slider-dot {
  border: 1px solid rgba(155, 155, 155, 1);
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin: 5px 0px;
  background-color: transparent;
}
